<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>More</h3>
    <ul>
      <li><%= dataById.title %></li>
        <li><%= dataById.description %></li>
        <li> &#8377;<%= dataById.price.toLocaleString("en-In") %></li>
        <li><%= dataById.location %></li>
        <li><%= dataById.country %></li>
    </ul>
</body>
</html>